.pointer-events-none {
  pointer-events: none;
}

.highlighted {
  background: rgb(124 110 49 / 61%);
  animation: highlightFade 2s ease-out forwards;
}

.monaco-changed-line-gutter {
  background: yellow;
  width: 3px !important;
}

@keyframes highlightFade {
  0% {
    background-color: rgba(124, 110, 49, 0);
  }
  20% {
    background-color: rgb(124 110 49 / 61%);
  }
  80% {
    background-color: rgb(124 110 49 / 61%);
  }
  100% {
    background-color: rgba(124, 110, 49, 0);
  }
}

.opacity-100 {
  opacity: 1;
}
.transition-opacity {
}

.duration-150 {
  transition: opacity 150ms ease;
}
.opacity-0 {
  opacity: 0;
}
