.btn {
  border-radius: $radius-circle;
  padding: $spacing-xs;
  transition: background $transition-base, color $transition-base;
  background: transparent;
  color: $color-text-secondary;
  cursor: pointer;
  //position: absolute;
  //left: 6rem;
  //top: 0.25rem;

  &:hover {
    background: rgba(86, 93, 100, .659);
    color: $color-text-primary;
  }
}

.active {
  background: #1e3535;
  color: #e5c47a;
  border-color: #3a5545;
  //border-color: #3a5545;
  //
  //color: rgba(34, 211, 238, 0.9);
  //background: rgba(34, 211, 238, 0.12);

  //&:hover {
  //  background: rgba(34, 211, 238, 0.2);
  //}
}


//     background: #1e3535;
//    color: #e5c47a;
//    border-color: #3a5545;
