.popover {
  position: fixed;
  z-index: $z-index-popover;

  font-family: 'Manrope', sans-serif;

  background: $primary-color;
  border: 1px solid $border-color;

  border-radius: $radius-lg;
  box-shadow: $shadow-md;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

:global(.dock-transition) .popover {
  transition:
          right 300ms cubic-bezier(0.22, 1, 0.36, 1),
          top 300ms cubic-bezier(0.22, 1, 0.36, 1),
          height 300ms cubic-bezier(0.22, 1, 0.36, 1),
          width 300ms cubic-bezier(0.22, 1, 0.36, 1);
}
