.popover {
  position: fixed;
  z-index: $z-index-popover;

  font-family: 'Manrope', sans-serif;

  background: $primary-color;
  border: 1px solid $border-color;

  border-radius: $radius-lg;
  box-shadow: $shadow-md;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}
